@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #eef2f6;
    --text-100: #dde6ee;
    --text-200: #bbccdd;
    --text-300: #99b2cc;
    --text-400: #7799bb;
    --text-500: #557faa;
    --text-600: #446688;
    --text-700: #334c66;
    --text-800: #223344;
    --text-900: #111922;
    --text-950: #090d11;

    --background-50: #eef3f6;
    --background-100: #dee6ed;
    --background-200: #bccedc;
    --background-300: #9bb5ca;
    --background-400: #799cb9;
    --background-500: #5883a7;
    --background-600: #466986;
    --background-700: #354f64;
    --background-800: #233543;
    --background-900: #121a21;
    --background-950: #090d11;

    --primary-50: #eef2f6;
    --primary-100: #dde6ee;
    --primary-200: #bbccdd;
    --primary-300: #99b2cc;
    --primary-400: #7799bb;
    --primary-500: #557faa;
    --primary-600: #446688;
    --primary-700: #334c66;
    --primary-800: #223344;
    --primary-900: #111922;
    --primary-950: #090d11;

    --secondary-50: #f6f3ee;
    --secondary-100: #eee6dd;
    --secondary-200: #ddcdbb;
    --secondary-300: #ccb499;
    --secondary-400: #bb9b77;
    --secondary-500: #aa8255;
    --secondary-600: #886844;
    --secondary-700: #664e33;
    --secondary-800: #443422;
    --secondary-900: #221a11;
    --secondary-950: #110d09;

    --accent-50: #f2f6ee;
    --accent-100: #e4eedd;
    --accent-200: #c9dcbc;
    --accent-300: #aecb9a;
    --accent-400: #94ba78;
    --accent-500: #79a857;
    --accent-600: #618745;
    --accent-700: #486534;
    --accent-800: #304323;
    --accent-900: #182211;
    --accent-950: #0c1109;
  }
  .dark {
    --text-50: #090d11;
    --text-100: #111922;
    --text-200: #223344;
    --text-300: #334c66;
    --text-400: #446688;
    --text-500: #557faa;
    --text-600: #7799bb;
    --text-700: #99b2cc;
    --text-800: #bbccdd;
    --text-900: #dde6ee;
    --text-950: #eef2f6;

    --background-50: #090d11;
    --background-100: #121a21;
    --background-200: #233543;
    --background-300: #354f64;
    --background-400: #466986;
    --background-500: #5883a7;
    --background-600: #799cb9;
    --background-700: #9bb5ca;
    --background-800: #bccedc;
    --background-900: #dee6ed;
    --background-950: #eef3f6;

    --primary-50: #090d11;
    --primary-100: #111922;
    --primary-200: #223244;
    --primary-300: #334c66;
    --primary-400: #446588;
    --primary-500: #557eaa;
    --primary-600: #7798bb;
    --primary-700: #99b2cc;
    --primary-800: #bbcbdd;
    --primary-900: #dde5ee;
    --primary-950: #eef2f6;

    --secondary-50: #f9ecee;
    --secondary-100: #f3d8dd;
    --secondary-200: #e7b1bb;
    --secondary-300: #da8b99;
    --secondary-400: #ce6477;
    --secondary-500: #c23d56;
    --secondary-600: #9b3144;
    --secondary-700: #742533;
    --secondary-800: #4e1822;
    --secondary-900: #270c11;
    --secondary-950: #130609;

    --accent-50: #0c1109;
    --accent-100: #182211;
    --accent-200: #304323;
    --accent-300: #486534;
    --accent-400: #618745;
    --accent-500: #79a857;
    --accent-600: #94ba78;
    --accent-700: #aecb9a;
    --accent-800: #c9dcbc;
    --accent-900: #e4eedd;
    --accent-950: #f2f6ee;
  }
}
