---
interface Experience {
  title: string;
  time: string;
  topics: string[];
}

const experiences: Experience[] = [
  {
    title: "Senior Software Engineer - dtect",
    time: "2023 - Present",
    topics: ["TODO", "TODO", "TODO"],
  },
  {
    title: "Senior Software Engineer - Notis/us",
    time: "2022 - 2023",
    topics: ["TODO", "TODO", "TODO"],
  },
  {
    title: "Web & Mobile Developer - ATTO Semestes",
    time: "2020 - 2022",
    topics: ["TODO", "TODO", "TODO"],
  },
  {
    title: "Software Engineer - Tecnobit Sistemas Inteligentes",
    time: "2011 - 2020",
    topics: ["TODO", "TODO", "TODO"],
  },
];
---

<div
  class="border-2 border-stone-800 rounded-md p-6 bg-amber-100 mb-6 shadow-md"
>
  <h2
    class="text-2xl font-bold mb-4 text-center border-b-2 border-stone-800 pb-2"
  >
    Adventure Log
  </h2>

  <div class="space-y-6 border-l-4 border-stone-800 relative">
    {
      experiences.map((exp, index) => (
        <div class="pl-4 ml-4 relative">
          <div class="absolute w-4 h-4 border-2 border-amber-100 bg-stone-800 rounded-full -left-[26px] top-2" />
          <h3 class="text-xl font-bold">{exp.title}</h3>
          <p class="text-sm italic">{exp.time}</p>
          <ul class="list-disc list-inside mt-2 space-y-1">
            {exp.topics.map((topic, idx) => (
              <li>{topic}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>
