---
interface Props {
  title: string;
  value: number;
  modifier: string;
  description: string;
}

const { title, value, modifier, description } = Astro.props;
---

<div
  class="border-2 border-stone-800 rounded-md p-4 bg-amber-100 text-center shadow-md"
>
  <h3 class="text-xl font-bold">{title}</h3>
  <div class="text-3xl font-bold my-2">{value}</div>
  <div class="text-xl font-bold text-red-700">{modifier}</div>
  <div class="text-sm mt-2 italic">{description}</div>
</div>
